p {
	padding-left: 20px;
	font-family: Calibri, sans-serif;
}

label, input{
	font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
	line-height: 1.7em;
}

#settingsBar{
    text-align: center;
    background-color: #89c489;
	padding: 1%;
}

#topLeft{
	position: absolute;
    top: 10px;
    left: 20px;
}

#output{
	text-align: left;
	color: #000;
}