label, input{
	font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
	line-height: 1.7em;
}

#settingsBar{
    text-align: center;
    background-color: #89c489;
	padding: 1%;
}

#topLeft{
	position: absolute;
    top: 10px;
    left: 20px;
}

#output{
	min-height: 5px;
	width: calc(100% - 20px);
	border: none;
	overflow: hidden;
	resize: none;

	text-align: left;
	color: #000;
	padding: 20px 0px 0px 30px;  /*Top, right, bottom, left*/
	font-family: Calibri, sans-serif;
}